/* nasa_main.css */
/* device 1920 기준 */

:root {font-family: '나눔고딕';}

#wrap{
  width:100%; height: auto; min-height:700px;
}

/* 공통 사항 ========================================== */
a {display:block; width:100%; height:100%;}

/* #headBox ========================================== */
#headBox{
  position: fixed; z-index: 100;
  width:100%; height:200px;
  padding:50px; box-sizing: border-box;
}

h1{
  float:left;
  width:100px; height:100px;
  background-image: url(../../img/nasa-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav{
  float:right;
  width:1700px; height:100px;
  padding:10px; box-sizing: border-box;
}
  /* ---------- globlal navigation ----------  */
  #gnb{
    float:left;
    width:1200px; height:100%;
    padding-left:70px; box-sizing: border-box;
    color:#fff;
  }

    #gnb > ul{
      width:100%; height:100%;
    }

    #gnb li {
      float:left;
      width:164px; height:100%;
      margin-right: 28px;
      line-height: 90px;
      font-weight: bold;
      font-size:1.5rem;}

    #gnb li:last-child{margin-right: 0;}

  /* ---------- user navigation ----------  */
  #unb{
    float:right;
    width:400px; height:100%;
    padding:5px; box-sizing: border-box;
    background-color: #777;
  }

    .searchBox{
      float:left;
      width:300px; height:100%;
      background-color: #fff;
    }

    .shareBox{
      float:right;
      width:70px; height:70px;
      background-image: url(../../img/icons/share.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 50%;
    }

/* #viewBox ========================================== */
#viewBox{
  position: relative;
  width:100%; height:1000px;
  background-color: #333;
}
  
  .mouse{
    position: absolute; z-index:100;
    bottom:1rem; left:50%; transform: translateX(-50%);
    width: 120px; height: 170px;
    background-image: url(../../img/main/viewBox/mouse.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    animation:mvScroll 2s infinite ease alternate;
  }
  
  @keyframes mvScroll {
    0%{background-position-y: 0;}
    100%{background-position-y: -3rem;}
  }

/* #topicBox ========================================== */
#topicBox{
  width:100%; height:1700px;
  background-image: url(../../img/main/topicBox/ferenc-horvath-skcFiBu91AA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

  .company_title{
    width:100%; height:800px;
    padding:150px; box-sizing: border-box;
    color:#fff;
    font-size: 60pt;
    font-weight: bold;
  }

  .company_title > p {
    width:100%; height:auto;
    text-align: center;
  }

  .company_title_p2{font-size:50pt;}
  .company_title_p2{font-size:55pt;}

  .topic_area{
    position: relative;
    width:100%; height:900px;
  }

    .topic_slide{
      width:730px; height:100%;
      background-color: #fff;
      padding:50px; box-sizing: border-box;
    }

      .topic_slide > h3{
        font-weight: bold;
        font-size: 80pt;
      }

      .topic_button{
        width: 214px; height:100px;
      }

        .topic_button > button{
          width:100px; height:100px;
          border-radius: 50px;
          background-color: #333;
          background-repeat: no-repeat;
          background-position: 50% 50% ;
          background-size: 60%;
        }

        .next{float:right; background-image: url(../../img/icons/next.png);}
        .prev{float:left; background-image: url(../../img/icons/prev.png);}

    .topic_slide_box{
      position: absolute; z-index:100;
      width:1530px; height:550px;
      background-color: #333;
      bottom:10rem; right:0;

    }
  

/* #infoBox ========================================== */
#infoBox{
  width:100%; height:900px;
  background-color: #333;
}

  .info_area{
    width:50%; height:600px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .info_area_01{
    float:left;
    margin-top:100px;
    background-image: url(../../img/main/infoBox/mars.jpg);
  }

  .info_area_02{
    float:right;
    margin-top:200px;
    background-image: url(../../img/main/infoBox/64.jpg);
  }

  .info_area > a:hover{
    background-color: #333; opacity: 0.7;
  }

  .info_area > a > span{
    display:block;
    padding-top:450px; margin-left:50px;
    color:#fff;
    font-weight: bold;
    font-size:3rem;
  }

  .info_area > a > .info_title{padding-top: 0;}
  

/* #programBox ========================================== */
#programBox{
  width:100%; height:850px;
  padding:100px; box-sizing: border-box;
  background-color: #333;
}

#programBox > h2{
  width:100%; height:auto;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  color:#fff;
}

.program_area{
  width:1420px; height: 500px;
  margin:auto; margin-top: 50px; 
}

.program_area > ul{
  width:100%; height:100%;
}

.program_area li {
  float:left; width: 400px; height: 500px;
  margin-right: 110px; background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.program_area li:nth-child(1){
  background-image: url(../../img/main/programBox/media.jpg);
}

.program_area li:nth-child(2){
  background-image: url(../../img/main/programBox/educators.jpg);
}

.program_area li:nth-child(3){margin-right: 0;
background-image: url(../../img/main/programBox/students.jpg);}

.program_area li > a:hover{
  background-color: #333; opacity: 0.7;
}

.program_area li > a > span{
  display:block;
  width:100%; height:auto;
  text-align: center;
  padding-top:230px;
  color:#fff;
  font-weight: bold;
  font-size:3rem;
}



/* #footBox ========================================== */
#footBox{
  width:100%; height:300px;
  padding:50px; box-sizing: border-box;
  background-color: #222;
}

#footBox > h2{
  float:left;
  width:100px; height:100px;
  background-image: url(../../img/nasa-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.company_plan{
  float:left;
  margin-left:50px;
  padding:10px; box-sizing: border-box;
  width:1000px; height:100px;
}

  .company_plan > ul{width:100%; height:100%;}
  
  .company_plan li{
    float:left;
    width:125px; height:100%;
    margin-right: 15px; 
    text-align: center; line-height: 80px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #fff;
  }

  .company_plan li:last-child{margin-right: 0;}

.snsBox{
  float:right;
  margin-right: 50px;
  width:360px; height:120px;
  background-color: #fff;
}